$color-title: #bf4080;
$bg-sucess: green;
$bg-error: red;
$bg-warning: orange;
$bg-body: #fff;
$bg-code: #000;
$color-font-body-shadow-border: #6b717f;
$color-border-alert: #8c8c8c;

$padding-general: 16px;
