@import "./variables";
@import "./mixins";

body {
	font: 100% "Space Mono", monospace;
	color: $color-font-body-shadow-border;
	margin: 0;
	padding: $padding-general;
	background-color: $bg-body;
	overflow-x: hidden;
	h1,
	h2,
	h3 {
		color: $color-title;
	}

	h1 {
		text-align: center;
	}

	h3 {
		text-align: center;
		font-size: 1.5em;
		padding: $padding-general * 2;
		margin-bottom: 0px;
	}
	main {
		padding: 0 $padding-general;
		color: $color-font-body-shadow-border;
		margin: 0;
		page-break-inside: avoid;
		font-family: monospace;
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 1.6em;
		max-width: 100%;
		overflow: auto;
		padding: $padding-general;
		display: block;
		word-wrap: break-word;

		article {
			display: flex;
			flex-wrap: wrap;

			section {
				flex-grow: 1;
				flex-basis: 45%;
				border: 1px #8c8c8c solid;
				@include shadow-box($color-font-body-shadow-border);
				padding: $padding-general;
				margin: 16px;
				clear: both;
				overflow: auto;
				box-sizing: border-box;

				&#selling-points {
					flex-grow: 2;
					flex-basis: 100%;
					.advantages {
						@for $i from 0 to 7 {
							& li:nth-child(#{$i}) {
								background: lighten(blue, $i * 7%);
								color: darken(purple, $i * 7%);
							}
						}
					}
				}

				code {
					background: $bg-code;
					border: 1px solid $color-font-body-shadow-border;
					&:before {
						float: left;
						width: 40%;
					}

					&:after {
						float: right;
						width: 40%;
					}
				}
			}
		}
		%messages-shared {
			padding: $padding-general;
			border: 1px solid $color-border-alert;
			color: $bg-body;
		}

		.messages {
			.success {
				@extend %messages-shared;
				background-color: $bg-sucess;
			}
			.error {
				@extend %messages-shared;
				background-color: $bg-error;
				&:hover {
					background-color: $bg-sucess;
				}
			}
			.warning {
				@extend %messages-shared;
				background-color: $bg-warning;
			}
		}
	}
	footer {
		h3 {
			padding: $padding-general * 2;
		}
	}
}
